* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Inter, sans-serif;
    background-color: #f3f4f6;
}

a {
    text-decoration: none
}
.container-fluid{
    padding: 0;
}
.navbar {
    display: flex;
    height: 100px;
    background: rgb(21 42 109);
    justify-content: space-between;
    align-items: center;
    padding: 15px 100px;
}
.navbar_logo{
    width: 115px;
    height: 73px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar_logo img {
    width:100px;
}
.navbar_list{
    background-color: rgb(1 26 86);
    height: 50px;
    padding: 0 15px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar_list ul {
    margin-left: -32px;
    list-style: none;
    color: rgb(153 163 186);
    display: flex;
}
/* .navbar_list ul li:first-child a {
    color: #007bff;
} */
.navbar_list ul li{
    position: relative;
    padding: 12px 16px;
}
.navbar_list_items .navbar_list_item-active{
    border-radius: 50px;
    border: 1px solid #ffffff;
    a{
        color: #fff;
    }
}
.navbar_list ul li::before{
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 50px;
    width: 220px;
    height: 20px;
}
.navbar_list > .navbar_list_items > .navbar_list_item:hover {
    cursor: pointer;
    color: rgb(1, 26, 86) ;
    background: rgb(235, 245, 255);
    border-radius: 50px;
    a{
        color: rgb(1, 26, 86);
    }
}



.navbar_list_item {
    margin-bottom: -16px;
    font-size: 16px;
    font-weight: 600;
}
.navbar_list_item-relative{
    position: absolute;
    padding-bottom: 7px;
}
.dropdown-menu {
    display: none;
    position: absolute;
    top: calc(100% + 7px);
    left: 0;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    min-width: 212px;
    z-index: 10;
}

.dropdown-menu ul {
    display: block;
}

.dropdown-menu ul li {
    padding: 10px 0;
}

.dropdown-menu ul li a {
    color: rgb(35, 56, 118);
    text-decoration: none;
    display: block;
    padding: 8px 12px;
    border-radius: 4px;
}

.dropdown-menu ul li a:hover {
    background-color: rgb(235, 245, 255);
}

.navbar_list_item-relative:hover .dropdown-menu {
    display: block;
}

.navbar_list_item a {
    text-decoration: none;
    padding: 12px 0;
    color: rgb(153 163 186);

}

.start {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.start_study a {
    background-color: #007bff;
    color: white;
    padding: 13px 20px;
    border-radius: 50px;
    margin-right: 15px;
    text-decoration: none;
    margin-bottom: 0px;
    font-weight: 600;
    cursor: pointer;
}

.start_login img {
    height: 47px;
    width: 47px;
    border-radius: 50%;
    cursor: pointer;
}

/* Boby */
.body{
    
    background: linear-gradient(0deg, rgb(1, 114, 250) -4.58%, rgb(1, 114, 250) 25.28%, rgb(1, 68, 169) 68.48%, rgb(21 42 109) 100.88%);
    height: 100%;

}
.boby_main{
}
.boby_main_background{
    position: relative;
    display:flex;
    flex-direction: column;
    width: 100%;
    background-size: 100% 100%;
    height: 729px;
    padding-top: 100px;
}
.boby_main_background img{
    width: 1423px;
}
.boby_main_background-opacity{
    position: absolute;
    
    opacity: 0.4;
}
.boby_main_intro{
    position: absolute;
    top: 30px;
    color: #fff;
    width: 100%;
    text-align: center;
    font-size: 100px;
    font-weight: 600;
}
.boby_main_intro img{
    
    width: 200px;
    margin-bottom: -30px;
}
.body_main_btn{
    display: flex;
    position: absolute;
    background-color: #fff;
    width: 250px;
    height: 60px;
    top: 540px;
    left: 585px;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 0 15px 4px rgba(255, 255, 255, 0.6);
}
.body_main_btn:hover {
    cursor: pointer;
    transform: scale(1.05); 
    box-shadow: 0 0 20px 6px rgba(255, 255, 255, 0.8);
}

.body_main_btn a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    color: #0071f9;
}

.boby_main_intro p:first-child {
    background: linear-gradient(93deg, rgb(0, 113, 249) -25.58%, rgb(255, 255, 255) 62.32%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.boby_main_intro p{
    margin-bottom: -6px;
}


/* card */
.option{
    background-color: #f3f7fe;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    z-index: 1;
    padding-bottom: 50px;
    position: relative;
}
.option_title h2{
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 30px;
}
.option_title p{
    font-size: 24px;
    text-align: center;

} 
.option_title{
    padding: 110px 160px 60px;
    color: #233876;

}
.option_cards {
    display: flex;
    gap: 13px;
    justify-content: center;
    padding: 20px 110px 90px;
}

.option_card {
    flex: 1;
    height: 385px;
    max-width: 300px;
    padding: 20px;
    border-radius: 25px;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    position: relative;
    overflow: hidden;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.6); /* Lớp phủ tối */
}
.option_card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.7);
}
.option_card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/assets/img/oval_loop_product_line.png');
    background-repeat: no-repeat;
    background-position: 100% 100%;
    transform: scaleY(-1);
    opacity: 0.5;
    z-index: 1;
}

.option_card h3, .option_card p, .option_card_btn {
    position: relative;
    z-index: 2; 
}



.option_card h3 {
    margin: 0 0 10px;
    font-size: 32px;
    font-weight: 600;
}

.option_card p {
    font-size: 16px;
    margin: 0 0 20px;
    line-height: 1.5;
}

.option_card_btn {
    position: absolute;
    font-size: 20px;
    bottom: 20px;
    right: 20px;
    width: 50px; 
    height: 50px;
    display: flex;
    align-items: center;
    border: 1px solid white;
    justify-content: center;
    border-radius: 50%; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Hiệu ứng đổ bóng */
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}


.option_card_btn:hover {
    border: 2px solid white;
    cursor: pointer;
}
/* container-cards */
:root {
    --cards: 3;
    --cardHeight: 87vh;
    --cardTopPadding: 1.5em;
    --cardMargin: 4vw;
}
.container_background{
    position: relative;
    margin-top: -50px;
    margin-bottom: 120px;
    z-index: 2;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}
.container {
    
    width: 1200px;
    margin: 0 auto;
}
.container_title{
    width: 900px;
    margin: auto;
    padding-top: 170px;
    text-align: center;
    color: rgb(247, 250, 252);
}
.container_title h1{
    font-size: 58px;
    font-weight: 700;
}
.container_title p{
    font-size: 20px;
    padding: 20px 0;
}

#cards {
    list-style: none;
    background-color: transparent;
    padding-left: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(var(--cards), var(--cardHeight));
    gap: var(--cardMargin);
    padding-bottom: calc(var(--cards) * var(--cardTopPadding));
    margin-bottom: var(--cardMargin);
}

#card1 {
    --index: 1;
    background-color: transparent;
}

#card2 {
    --index: 2;
    background-color: transparent;
}

#card3 {
    --index: 3;
    background-color: transparent;
}

.card {
    position: sticky;
    top: 0;
    border: none;
    padding-top: calc(var(--index) * var(--cardTopPadding));
}

#card1 .card-body {
    background: linear-gradient(180deg, #001656 7.32%, #0172FA 100%);
}

#card2 .card-body {
    background: linear-gradient(180deg, #001656 7.32%, #0172FA 100%);
}

#card3 .card-body {
    background: linear-gradient(180deg, #001656 7.32%, #0172FA 100%);
}

.card-body {
    box-sizing: border-box;
    padding: 30px;
    border-radius: 50px;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);
    height: var(--cardHeight);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}
.card-body_title{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 45%;
    padding: 54px 0;
    gap: 200px; 
}
#card3 .card-body_title{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 45%;
    padding: 54px 0;
    gap: 80px; 
}
.card-body_title h1{
    font-size: 100px;
    font-weight: 600;
    color: #0071F9;
}
.card-body_title_description h2{
    width:84%;
    font-weight: 600;
    font-size: 32px;
    color: white;
}
.card-body_title_description p{
    width:80%;
    font-size: 20px;
    color: white;
}

.card-body_img img{
    max-width: 450px;
    border-radius: 20px;
}

/* .honor */
.honor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(247, 250, 252);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    z-index: 2;
    top: -50px;
    position: relative;
    
}
.honor_head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 110px 0 60px 0;
    font-size: 30px;
}
.honor_head h2{
    color: #0071f9;
}
.honor_head h2:first-child{
    color:rgb(35, 56, 118);
}

.honor_toeic{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 800px;
    height: 530px;
    background: #0071f9;
    align-items: center;
    border-radius: 48px;
    img{
        width:  277px;
        height: 377px;
    }
}
.honor_toeic_title{
    font-size: 28px;
    color: #fff;
    margin-top: 45px;
}
.honor_toeic_details{
    display: flex;
    margin: 28px;
    padding: 12px;
    background-color: #fff;
    border-radius: 24px;
}
.honor_toeic_details_img{
    position: relative;
}
.honor_img_intro{
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: #FFF;
}
.honor_img_intro >p:first-child{
    font-size: 24px;
    font-weight: 600;
}
.honor_toeic_details_img img{
    border-radius: 24px;
}
.honor_toeic_details_description{
    padding: 10px 10px 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
}
.honor_toeic_details_description >p{
    text-align: justify;
    color: #233876;
    line-height: 32px;
    font-size: 20px;
}
.honor_toeic_point{
    display: flex;
    justify-content: space-between;
}
.honor_toeic_point_total{
    display: flex;
}
.honor_toeic_point_total h1{
    color: rgb(244, 144, 0);
    font-size: 50px;
}
.honor_toeic_point_total span{
    display: flex;
    color: rgb(35, 56, 118);
    font-size: 18px;
    font-weight: 600;
    margin-left: 6px;
    justify-content: center;
    flex-direction: column;
}

.honor_toeic_point_details{
    display: flex;
    position: relative;
    margin-right: -10px;
    align-items: center;
    
}
.honor_toeic_point_details h3{
    color: rgb(0, 113, 249);
    font-size: 22px;
}
.honor_toeic_point_details p{
    font-size: 14px;
    padding: 5px;
    color: rgb(55, 65, 81);
}
.honor_toeic_point_details span{
    display: flex;
    padding: 5px;
}
.honor_toeic_point_details span:first-child::after {
    content: "";
    display: block;
    position: absolute;
    right: 110px;
    top: 30%;
    height: 38%;
    width: 1px;
    background-color: rgb(185, 202, 222);
}
/* background color */
.background_color{
    position: relative;
    margin-top: -50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    background-color: #f7fafc;
    padding: 110px 0 40px 0;
}
/* .course */
.course {
    display: flex;
    position: relative;
    justify-content: space-between;
    padding: 80px;
    background-image: radial-gradient(136.14% 99.99% at 49.95% 0, #0172fa 0, #001656 92.68%);
    margin: 20px;
    width: 1380px;
    height: 370px;
    border-radius: 20px;
}


.course_intro {
    position: relative;
    z-index: 2;

}

.course_img {
    position: absolute;
    overflow: visible !important;
    top: -20px;
    left: -30px;
    z-index: 2;
}

.course_img img {
    width: 200px;
    position: absolute;
    top: -180px;
    z-index: 1000;
    transform: scale(1);
}

.course_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    font-size: 2.1rem;
    color: white;
    font-weight: bold;
}

.course_intro::before {
    content: "";
    position: absolute;
    top: -80px;
    left: -414px;
    width: 160%;
    height: 220%;
    background-image: url('/assets/img/oval_loop_bee_speaking.png');
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: cover;
    transform: scaleY(1);
    opacity: 0.6;
    z-index: 1;
    overflow: hidden;
}


.course_option {
    width: 600px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-evenly; 
    gap: 20px; 
    margin-top: 20px;
}

.course_option_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    width: 250px;
    height: 100px;
    border: 2px solid white;
    border-radius: 50px;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    background-color: transparent; 
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

.course_option_btn:hover {
    background-color: rgba(255, 255, 255, 0.9); 
    color: #0071f9;
}
.course_option_btn i{
    margin-left: 5px;
}

/* contact */
.contact {
    background: linear-gradient(135deg, #002957, #0051cc);
    color: white;
    padding: 50px 90px 50px 90px;
    border-radius: 20px;
    margin: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact_title {
    flex: 1;
    min-width: 480px;
    margin-right: 100px;
}

.contact_title h2 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 10px;
}

.contact_title p {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 20px;
}

.contact_title img {
    max-width: 370px;
    margin-top: 200px;
    margin-left: 150px;
}

.contact_form {
    flex: 1.5;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    color: white;
}

.form_group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input, select, textarea {
    width: 100%;
    padding: 13px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 16px;
    color: #757575;
}

textarea {
    height: 80px;
    resize: none;
}

button.submit_btn {
    background-color: rgb(225, 239, 254);
    color: rgb(0, 113, 249);
    font-weight: bold;
    padding: 11px 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 140px;
    margin-top: 10px;
    float: right;
    font-size: 16px;
}

button.submit_btn:hover {
    background-color: rgba(225, 239, 254, 0.8);
}

.contact_form p {
    font-size: 13px;
    color: white;
    display: block;
    margin-top: 10px;
    font-style: italic;
}

/* Footer */
.footer {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 85px 100px 40px 100px;
}
.footer a{
    text-decoration: none;
    color: rgb(107, 114, 128);
}
.footer p{
    color: rgb(107, 114, 128);
}
.footer_section {
    flex: 1;
    margin-right: 40px;
}
.footer_section-info ul li{
    line-height: 34px;
}
.footer_section h3 {
    font-size: 16px;
    margin-top: 12px;
    font-weight: 600;
    margin-bottom: 12px;
}

.footer_section p, .footer_section ul {
    font-size: 14px;
    line-height: 1.6;
}

.footer_section ul {
    list-style: none;
    padding: 0;
}

.footer_section ul li {
    margin-bottom: 5px;
}

.social_icons {
    display: inline;
    font-size: 21px;
    margin-right: 27px;  
    color: rgb(107 114 128);
}
.social_icons i{
    margin-right: 15px;
}

.footer_section img {
    display: flex;
    max-width: 110px;
    margin-bottom: 10px;
}

.footer_bottom {
    background-color: #f0f0f0;
    text-align: center;
    padding: 50px 20px;
}

.footer_bottom h3 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}

.footer_bottom p {
    font-size: 14px;
    line-height: 1.6;
    color: rgb(107, 114, 128);
}
.certificates{
    display: flex;
    align-items: center;
    justify-content: center;
}
.certificates img {
    width: 132px;
    margin: 10px;
}
